@font-face {
    font-family: 'RedHatText';
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

@font-face {
    font-family: 'RedHatText-Italic';
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

:root {
    --clr-primary-hsl--1: 14, 86%, 42%;
    /* hsl(14, 86%, 42%) */
    --clr-primary-hsl--2: 159, 69%, 38%;
    /* hsl(159, 69%, 38%) */

    --clr-primary--1: hsl(var(--clr-primary-hsl--1));
    --clr-primary--2: hsl(var(--clr-primary-hsl--2));

    --clr-neutral--50: hsl(20, 50%, 98%);
    --clr-neutral--100: hsl(13, 31%, 94%);
    --clr-neutral--300: hsl(14, 25%, 72%);
    --clr-neutral--300-hsl: 4, 25%, 72%;
    --clr-neutral--400: hsl(7, 20%, 60%);
    --clr-neutral--500: hsl(12, 20%, 44%);
    --clr-neutral--900: hsl(14, 65%, 9%);

    --fw-normal: 400;
    --fw-bold: 600;
    --fw-bolder: 700
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

svg,
img, picture{
    display: block;
    max-width: 100%;
}

picture img{
    border-radius: inherit;
}

html {
    font-family: 'RedHatText';
}

.hidden {
    display: none !important;
}

@media (min-width: 768px) {
    .desserts-cart-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2em;
    }

    .desserts-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

}

body {
    width: 90vw;
    max-width: 1200px;
    margin: 3em auto;
    background-color: var(--clr-neutral--100);
    font-weight: var(--fw-normal);
    color: var(--clr-neutral--900);
    overflow-x: hidden;
}

.dessert {
    --button-top: -2em;
}

.desserts-header {
    margin-bottom: 1em;
}

.dessert-img {
    border-radius: 1em;
}

.dessert-img-selected{
    outline: 2px solid var(--clr-primary--1);
}


/* button */
.cart-btn {
    /* position */
    width: 70%;
    margin: 0 auto 1em auto;
    position: relative;
    top: var(--button-top);
    /* layout */
    display: flex;
    justify-content: center;
    gap: .5em;
    align-items: center;
    padding: 1em 0;
    border-radius: 2em;
}

.add-btn:hover {
    border-color: var(--clr-primary--1);
    color: var(--clr-primary--1);
    cursor: pointer;
}

.add-btn {
    background-color: var(--clr-neutral--50);
    border: 1px solid var(--clr-neutral--500);
    font-size: .7rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral--900);
}

.btn-container {
    background-color: var(--clr-primary--1);
    border: 1px solid var(--clr-primary--1);
    font-size: .7rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral--900);
}

.icon-btn {
    background-color: inherit;
    border-radius: 10000px;
    width: 20px;
    padding: .3em;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inc-dec-btn {
    background-color: inherit;
    border-radius: 10000px;
    width: 20px;
    padding: .3em;
    aspect-ratio: 1 / 1;
    outline: 2px solid var(--clr-neutral--100);
    border: none;
    fill: var(--clr-neutral--100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inc-dec-btn:hover {
    background-color: var(--clr-neutral--100);
    outline: none;
    cursor: pointer;
    fill: var(--clr-primary--1);
}

.icon-btn svg {
    fill: inherit;
}

.justify-center {
    justify-content: center;
}

.justify-space {
    justify-content: space-around;
}

.quantity{
    color: var(--clr-neutral--100);
    font-size: 1rem;
}

/* text */

.dessert-text {
    margin-top: calc(var(--button-top));
    display: flex;
    flex-direction: column;
    gap: .3em;
    font-size: 1rem;
}

.dessert-category {
    font-size: 1em;
    font-weight: var(--fw-normal);
    color: var(--clr-neutral--500);
}

.dessert-name {
    font-size: 1.1em;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral--900);
}

.price {
    font-size: 1.2em;
    font-weight: var(--fw-bold);
    color: var(--clr-primary--1);
}













.cart {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-neutral--50);
    padding: 1em;
    border-radius: .5em;
}

.cart-title {
    color: var(--clr-primary--1);
    font-size: 1.4rem;
    font-weight: var(--fw-bolder);
    margin: 0  0 .5em 0;
}

.cart-empty {
    display: grid;
    gap: 1em;
    margin: 1em 0;
}

.cart-empty * {
    margin: 0 auto;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-neutral--100);
}

.item-info{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em 0;
    
}

.order{
    display: flex;
    gap: 1rem;
}

.order-quant{
    color: var(--clr-primary--1);
    font-weight: var(--fw-bold);
}

.order-unit-value{
    color: var(--clr-neutral--500);
}

.order-item-total{
    color: var(--clr-neutral--500);
    font-weight: var(--fw-bold);
}

.remove-btn{
    fill: var(--clr-neutral--500);
    outline: 2px solid var(--clr-neutral--500);
    border: none;
}

.remove-btn:hover{
    fill: var(--clr-neutral--900);
    outline: 2px solid var(--clr-neutral--900);
    cursor: pointer;
}

.order-total{
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-cost{
    font-size: 1.5rem;
    font-weight: var(--fw-bolder);
}

.carbon-neutral-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral--100);
    padding: 1em;
    gap: .5em;
    margin-bottom: 1em;
    border-radius: .5em;
}

.carbon-neutral{
    font-size: .8rem;
    text-align: center;
}

.checkout-btn{
    border-radius: 1000px;
    color: var(--clr-neutral--100);
    background-color: var(--clr-primary--1);
    width: 100%;
    padding: 1em 0;
    border: none;
    font-weight: var(--fw-bold);
}

.checkout-btn:hover{
    color: var(--clr-neutral--100);
    background-color: var(--clr-neutral--900);
    cursor: pointer;
}












.modal-overlay{
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 5000;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .modal{
        width: 60vw;
        max-width: 500px;
    }
}

@media (max-width: 768px){
    .modal-overlay{
        align-items: end;
    }
    .modal{
        margin-top: 7em;
        width: 100vw;
    }
}

.modal{
    display: grid;
    gap: 1em;
    border-radius: .5em;
    background-color: var(--clr-neutral--50);
    padding: 2em;
}

.modal-header{
    font-size: 2rem;
}

.modal-message{
    font-size: .9rem;
    color: var(--clr-neutral--500);
}

.modal-orders{
    border-radius: .5em;
    background-color: var(--clr-neutral--100);
    padding: 1em;
}

.modal-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsla(var(--clr-neutral--300-hsl),.2);
    padding: .5em 0;
}

.thumbnail{
    aspect-ratio: 1 / 1;
    width: 4em;
    border-radius: 10%;
    display: grid;
    align-items: center;
}

.thumbnail img{
    border-radius: inherit;
}

.modal-flex{
    display: flex;
    gap: 1em;
}

.modal .order-item-total{
    color: var(--clr-neutral--900);
}

.modal .order-total{
    padding: 2em 0 1em 0;
}

.screen-blocker{
    background-color: rgba(0,0,0, .5);
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 4999;
    top: 0;
    left: 0;
}