@font-face {
    font-family: 'RedHatText';
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

@font-face {
    font-family: 'RedHatText-Italic';
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

:root {
    --clr-primary-hsl--1: 14, 86%, 42%; /* hsl(14, 86%, 42%) */
    --clr-primary-hsl--2: 159, 69%, 38%; /* hsl(159, 69%, 38%) */

    --clr-primary--1: hsl(var(--clr-primary-hsl--1));
    --clr-primary--1: hsl(var(--clr-primary-hsl--2));

    --clr-neutral--50: hsl(20, 50%, 98%);
    --clr-neutral--100: hsl(13, 31%, 94%);
    --clr-neutral--300: hsl(14, 25%, 72%);
    --clr-neutral--400: hsl(7, 20%, 60%);
    --clr-neutral--500: hsl(12, 20%, 44%);
    --clr-neutral--900: hsl(14, 65%, 9%);

    --fw-normal: 400;
    --fw-bold: 600;
    --fw-bolder: 700
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, svg{
    max-width: 100%;
}

html {
    font-family: 'RedHatText';
}

@media (min-width: 900px){
    .deserts-cart-grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .deserts-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

}

.desert{
    background-color: var(--clr-neutral--300);
    padding: 1em;
}

.desert * {
    border: 1px solid black;
}

.desert__btn{
    position: relative;
    background-color: azure;
    width: 50%;
    margin: 0 auto;

}