@font-face {
    font-family: 'RedHatText';
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

@font-face {
    font-family: 'RedHatText-Italic';
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 100 900;
}

:root {
    --clr-primary-hsl--1: 14, 86%, 42%; /* hsl(14, 86%, 42%) */
    --clr-primary-hsl--2: 159, 69%, 38%; /* hsl(159, 69%, 38%) */

    --clr-primary--1: hsl(var(--clr-primary-hsl--1));
    --clr-primary--2: hsl(var(--clr-primary-hsl--2));

    --clr-neutral--50: hsl(20, 50%, 98%);
    --clr-neutral--100: hsl(13, 31%, 94%);
    --clr-neutral--300: hsl(14, 25%, 72%);
    --clr-neutral--400: hsl(7, 20%, 60%);
    --clr-neutral--500: hsl(12, 20%, 44%);
    --clr-neutral--900: hsl(14, 65%, 9%);

    --fw-normal: 400;
    --fw-bold: 600;
    --fw-bolder: 700
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, svg{
    max-width: 100%;
}

html {
    font-family: 'RedHatText';
}

@media (min-width: 900px){
    .desserts-cart-grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2em;
    }
    
    .desserts-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

}

body{
    width: 80vw;
    max-width: 1000px;
    margin: 3em auto;
    background-color: var(--clr-neutral--100);
    font-weight: var(--fw-normal);
}

.dessert{
    --button-top: -2em;
}

.desserts-header{
    margin-bottom: 1em;
}

.cart-btn{
    /* position */
    width: 70%;
    margin: 0 auto 1em auto;
    position: relative;
    top: var(--button-top);
    /* layout */
    display: flex;
    justify-content: center;
    gap: .5em;
    align-items: center;
    padding: .7em 0;
    border-radius: 2em;
    /* styling */
    background-color: var(--clr-neutral--50);
    border: 1px solid var(--clr-neutral--500);
    font-size: .7rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral--900);
}

.dessert-img{
    border-radius: 1em;
}

.dessert__text{
    margin-top: calc(var(--button-top) );
    display: flex;
    flex-direction: column;
    gap: .2em;
    font-size: .8rem;
}

.dessert-type{
    font-size: 1em;
    font-weight: var(--fw-normal);
    color: var(--clr-neutral--500);
}

.dessert-name{
    font-size: 1.1em;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral--900);
}

.price{
    font-size: 1.2em;
    font-weight: var(--fw-bold);
    color: var(--clr-primary--1);
}

.cart{
    width: 100%;
    height: fit-content;
    background-color: var(--clr-neutral--50);
    padding: 1em;
}

.cart-title{
    color: var(--clr-primary--1);
    font-size: 1.4rem;
    font-weight: var(--fw-bolder);
}

.cart-empty{
    display: grid;
    gap: 1em;
    margin: 1em 0;
}

.cart-empty * {
    margin: 0 auto;
}